.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6); /* Dimmed background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-tx {
    background: #302f2f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    color: white;
}

.modal-title {
    margin-bottom: 0px;
    font-size: 1.5rem;
}

.modal-content {
    margin-bottom: 20px;
    font-size: 1rem;
}

.modal-close {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-close:hover {
    background: #0056b3;
}